name: Static Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup pnpm and Node.js
      uses: pnpm/action-setup@v2
      with:
        version: 8
        node-version: '20'  # 在这里直接指定 Node.js 版本
        
    - name: Install dependencies
      run: pnpm install
      
    - name: Build project
      run: pnpm run build

      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@v4
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.SERVER_HOST }}
          REMOTE_USER: ${{ secrets.SERVER_USERNAME }}
          SOURCE: 'dist/'
          TARGET: '/opt/1panel/apps/openresty/openresty/www/sites/47.99.69.178'
